<nav class="site-header sticky-top py-1 bg-white">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#">
      <img src="/assets/logo.svg" alt="logo" />
    </a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/home']" routerLinkActive="active">Home</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/rates']" routerLinkActive="active">Currency Converter</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/trading']" routerLinkActive="active">Trading</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/send-money']" routerLinkActive="active">Send Money</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/recieve-money']" routerLinkActive="active">Receive Money</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/support']" routerLinkActive="active">Support</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/blog']" routerLinkActive="active">Blog</a>
  </div>
</nav>