<nav class="site-header sticky-top py-1 bg-white">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#">
      <img src="/assets/logo.svg" alt="logo" />
    </a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/rates']">Home</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/rates']">Currency Converter</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/rates']">Trading</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/rates']">Send Money</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/rates']">Receive Money</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/rates']">Support</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/rates']">Blog</a>
  </div>
</nav>